
<form action=<%=cats_url%> method="post">
    <input type="hidden" name="_method" value="PATCH" />

    <label for="name">Name</label>
    <input id="name" type="text" name="cat[name]" value="<%= cat.name %>">

    <br>

    <label for="birth_date">Birth Date</label>
    <input id="birth_date" type="date" name="cat[birth_date]" value="<%= cat.birth_date%>">

    <br>

    <label for="sex">Sex</label>
    <input id="sex" type="radio" name="cat[sex]" value="M">
    <label for="M">M</label><br>
    <input id="sex" type="radio" name="cat[sex]" value="F">
    <label for="F">F</label><br>

    <br>

    <label for="color">Color</label>
    <select id="color" name="cat[color]">
        <option disabled selected><%= cat.color%></option>
        <option value='White'>White</option>
        <option value="Black">Black</option>
        <option value="Red">Red</option>
        <option value="Blue">Blue</option>
        <option value="Grey">Grey</option>
        <option value="Cream">Cream</option>
        <option value="Brown">Brown</option>
        <option value="Cinnamon">Cinnamon</option>
        <option value="Fawn">Fawn</option>
    </select>

    <br><br>

    <label for="description">Description</label>
    <textarea id="description" name="cat[description]" value="<%=cat.description%>"></textarea>

    <input type="submit" value="Submit">
</form>
